name: build

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 1 * *'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev libxml2-dev

      - name: prepare environment
        run: echo "target_triplet=$(gcc -dumpmachine)" >> $GITHUB_ENV

      - name: build (autotools)
        run: |
          ./autogen.sh PKG_CONFIG_PATH=/usr/local/lib/pkgconfig
          make
          sudo make install

      - name: prepare artifact
        run: |
          mkdir -p dest
          DESTDIR=$(pwd)/dest make install
          tar -C dest -cf libideviceactivation.tar usr

      - name: publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: "libideviceactivation-latest_${{ env.target_triplet }}"
          path: libideviceactivation.tar

  build-macos:
    runs-on: macOS-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: install dependencies
        shell: bash
        run: |
          if test -x "$(which port)"; then
            sudo port install libtool autoconf automake pkgconfig
          else
            brew install libtool autoconf automake pkgconfig
          fi

      - name: prepare SDK and CFLAGS
        run: |
          SDKDIR=$(xcrun --sdk macosx --show-sdk-path 2>/dev/null || true)
          echo "SDKDIR=$SDKDIR" >> $GITHUB_ENV
          TESTARCHS="arm64 x86_64"
          USEARCHS=""
          for ARCH in $TESTARCHS; do
            if echo "int main(int argc, char **argv) { return 0; }" | clang -arch $ARCH -o /dev/null -isysroot $SDKDIR -x c - 2>/dev/null; then
              USEARCHS="$USEARCHS -arch $ARCH"
            fi
          done
          echo "BUILD_CFLAGS=$USEARCHS -isysroot $SDKDIR" >> $GITHUB_ENV

      - name: build (autotools)
        run: |
          export CFLAGS="${{ env.BUILD_CFLAGS }} -Wno-nullability-completeness -Wno-expansion-to-defined"
          ./autogen.sh PKG_CONFIG_PATH=/usr/local/lib/pkgconfig \
            libcurl_CFLAGS="-I${{ env.SDKDIR }}/usr/include" libcurl_LIBS="-lcurl" \
            libxml2_CFLAGS="-I${{ env.SDKDIR }}/usr/include" libxml2_LIBS="-lxml2" \
            libimobiledevice_CFLAGS="-I/usr/local/include" libimobiledevice_LIBS="-L/usr/local/lib -limobiledevice-1.0"
          make
          sudo make install

      - name: prepare artifact
        run: |
          mkdir -p dest
          DESTDIR=$(pwd)/dest make install
          tar -C dest -cf libideviceactivation.tar usr

      - name: publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: libideviceactivation-latest_macOS
          path: libideviceactivation.tar

  build-windows:
    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    strategy:
      fail-fast: false
      matrix:
        include:
          - msystem: MINGW64
            arch: x86_64
          - msystem: MINGW32
            arch: i686
    steps:
      - uses: msys2/setup-msys2@v2
        with:
          msystem: ${{ matrix.msystem }}
          release: false
          update: false
          install: >-
            base-devel
            git
            mingw-w64-${{ matrix.arch }}-gcc
            mingw-w64-${{ matrix.arch }}-pkg-config
            mingw-w64-${{ matrix.arch }}-openssl
            mingw-w64-${{ matrix.arch }}-libxml2
            make
            libtool
            autoconf
            automake-wrapper

      - name: checkout
        uses: actions/checkout@v4

      - name: prepare environment
        run: |
          dest=$(echo ${{ matrix.msystem }} | tr '[:upper:]' '[:lower:]')
          echo "dest=$dest" >> $GITHUB_ENV
          echo "target_triplet=$(gcc -dumpmachine)" >> $GITHUB_ENV

      - name: install additional requirements
        run: |
          mkdir -p deps
          FILENAME="libcurl-8.1.0-static.tar.bz2"
          curl -o $FILENAME.b64 -Ls "https://gist.github.com/nikias/6c397a0a2f4f4eafd91b81cccd22b761/raw/85216e60af6787f3b351291165eb91bd585ff09a/libcurl-8.1.0-static-${{ matrix.arch }}-${{ env.dest }}.tar.bz2"
          base64 -d < $FILENAME.b64 > $FILENAME
          tar -C deps -xjf $FILENAME
          echo "LIBCURL_CFLAGS=-I$(pwd)/deps/include -DCURL_STATICLIB" >> $GITHUB_ENV
          echo "LIBCURL_LIBS=-Xlinker $(pwd)/deps/lib/libcurl.a -Xlinker /${{ env.dest }}/lib/libzstd.a -Xlinker /${{ env.dest }}/lib/libz.a -Xlinker -lws2_32 -Xlinker -lcrypt32 -Xlinker -lwldap32 -Xlinker -lbcrypt -Xlinker -lssl -Xlinker -lcrypto" >> $GITHUB_ENV

      - name: build (autotools)
        run: |
          ./autogen.sh libcurl_CFLAGS="${{ env.LIBCURL_CFLAGS }}" libcurl_LIBS="${{ env.LIBCURL_LIBS }}"
          make
          make install

      - name: prepare artifact
        run: |
          mkdir -p dest
          DESTDIR=$(pwd)/dest make install
          tar -C dest -cf libideviceactivation.tar ${{ env.dest }}

      - name: publish artifact
        uses: actions/upload-artifact@v4
        with:
          name: "libideviceactivation-latest_${{ matrix.arch }}-${{ env.dest }}"
          path: libideviceactivation.tar
